body, html {
  font-family: "Raleway", sans-serif;
  background-color: #A1C6EA;
}

/*HEADER*/
h1 {
  padding: 10px 5px 5px;
  font-size: 25px;
}

h1 span {
  font-weight: 600;
}

h2 {
  padding: 0px 5px 5px;
  font-size: 15px;
}

/*FORM/INITIAL INPUT*/

form {
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
}

input, button, .select-style, .link-label {
  height: 22px;
  box-sizing: border-box;
}

input, .select-style {
  width: 180px;
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

button {
  border: none;
  background-color: #507DBC;
  color: #FFFFFF;
  width: 80px;
}

.link-label {
  background-color: #A1C6EA;
  color: #331E38;
  width: 80px;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.main-input {
  color: #FFFFFF;
  background-color: #331E38;
  text-align: center;
}

.select-style {
  border-radius: 0px;
  margin: 5px 0px 5px 5px;
  overflow: hidden;
  background: #FFFFFF url('./images/down-arrow.svg') no-repeat 90%;
  height: 22px;
  width: 180px;
}

.select-style select {
  padding: 0px 6px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

/*.short-display {
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.short-display p {
  color: #ffffff;
}*/

/*BROWSE FOLDER*/
.browse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse h3 {
  margin: 15px 5px 5px;
  font-weight: 600;
}

.browse-folders {
  border-radius: 0px;
  margin: 10px auto;
  overflow: hidden;
  background: #FFFFFF url('./images/down-arrow.svg') no-repeat 90%;
  height: 22px;
  width: 270px;
}

.browse-folders select {
  padding: 0px 6px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

/*LINK CARD*/

.link-card {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #331E38;
  border-bottom: 2px solid #331E38;
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 5px;
}

.link-card a {
  margin: 5px;
  
}

.link-card div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}



/*PALETTE
#331E38
#DAE3E5
#BBD1EA
#A1C6EA
#507DBC
*/